
* {
    font-family: Roboto;
}

main {
  display: flex;
  flex-wrap: wrap;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header {
  margin: 0;
	background-color: #293E6A;
  display: block;
  border: 0;
  width: 100%;
  z-index: 9999;
}


h1, h2, h3 {
  margin: 0;
  padding: 0.25em;
}

h1, h2 {
	color: white;
}

input[type="search"] {
  margin-bottom: 0.25em;
  font-size: 1.25em;
}

.header-menu {
  display: none;
}

#info-windows {
  z-order: 1000;
}

/* Google Maps InfoWindow */
.gm-style-iw header,
.gm-style-iw h1,
.gm-style-iw h2 {
  background-color: white;
  color: inherit;
  margin: 0.25em 0;
}

.gm-style-iw h1 {
  font-size: 1.5em;
}

.gm-style-iw h2 {
  font-size: 1.25em;
}

.gm-style-iw .img {
  width: 100px;
  height: 75px;
  float: left;
  margin-right: 0.5em;
}

.gm-style-iw p {
  float: left;
}

#map {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  bottom: 0;
  float: right;
}

.suburb {
  font-style: italic;
}

.map-view {
	border-top: 1px solid #999;
  position: absolute;
  width: 100%;
  left: 100px;
  display: flex;
}

#location-list {
  position: fixed;
  overflow: auto;
}

#flickr-images {
  margin: 0;
  padding: 5px;
  position: absolute;
  overflow: auto;
}

#flickr-view, #flickr-images {
  width: 250px;
}

#weather-view {
  max-width: 300px;
}

.modalDialog h2 {
  color: black;
}

.today.img{
  display: inline-block;
}


.temperature {
  font-size: 2em;
  display: inline-block;
}

.description {
  display: block;
  font-size: 1.17em;
}

@media only screen and (min-width: 750px) and (min-height: 750px) {
  #flickr-view, #flickr-images {
    width: 650px;
  }
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 2px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.close {
  width: 13px;
  height: 13px;
  overflow: hidden;
  position: absolute;
  opacity: 0.7;
  right: 15px;
  top: 12px;
  z-index: 10000;
  cursor: pointer;
}

.close-image {
  position: absolute;
  left: -2px;
  top: -336px;
  -webkit-user-select: none;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

input[type="checkbox"] {
    vertical-align: middle;
    margin-left: 2em;
    margin-right: 0;
}

input[type="checkbox"] + label {
    color: white;
    cursor: pointer;
}

input[type="checkbox"] + label:before /*span */ {
    font-size: 1.75em;
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 19px;
    margin: 1px 4px 0 0;
}

button {
  background: #25A6E1;
  background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
  background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
  background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
  background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
  background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
  padding:6px 11px;
  color:#fff;
  //font-size:17px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border:1px solid #1A87B9
}

@media only screen and (max-width: 349px) and (orientation: portrait), (max-height: 349px) and (orientation: landscape) {
  body {
    font-size: 50%;
  }
}

@media only screen and (min-width: 350px) and (orientation: portrait), (min-height: 350px) and (orientation: landscape) {
  body {
    font-size: 65%;
  }
}

@media only screen and (min-width: 400px) and (orientation: portrait), (min-height: 400px) and (orientation: landscape) {
  body {
    font-size: 75%;
  }
}

@media only screen and (max-width: 499px) {
  .nav {
    z-index: 10;
    background-color: #fff;
    position: absolute;
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .header-menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 0.25em;
  }
  .header-menu svg {
    height: 1.75em;
    width: 2em;
    fill: #E0E0E0;
  }
}

@media only screen and (min-width: 800px) and (orientation: portrait), (min-height: 800px) and (orientation: landscape) {
  body {
    font-size: 100%;
  }
}
